@warningColor: red;

.error-message { color: @warningColor; }
.hidden { display: none; }
.checkbox-label > input { margin-right: 0.5rem; }

.span-label {
  padding: 0.5rem;
  padding-top: -30px;
}

.checkbox-label {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.second { background-color: #41b883 !important; }

input[type="checkbox"] {
  position: relative;
  top: 5px;
}
