article >>> img {
  height: 43%;
  width: 100%;
}

article >>> p {
  height: 43%;
  width: 100%;
}

article >>> .view {
  /* color: 'grey' !important; */
  cursor: pointer;
}

article >>> .add {
  /* color: 'red' !important; */
  cursor: pointer;
}

article { padding-bottom: 3%; }

.card {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-body { padding-bottom: 0; }

div { transition: background-color 1s; }

.flashing {
  background-color: #41b883;
  transition: no;
}
